<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h3 class="text-center mb-3">
                Fill up the Registration form if u are not the proud member as a <strong>Donor</strong> 
            </h3>
            <%- include ('partials/messages') %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Enter Name"
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="phone">Phone no</label>
                    <input
                            type="number"
                            id="phone"
                            name="phone"
                            class="form-control"
                            placeholder="Enter Phone number"
                            value="<%= typeof phone != 'undefined' ? phone : '' %>"
                    />
                </div>

                <div>
                    <label for="blood_group">Your blood group: </label>
                    <select id="blood_group" name="blood_group" pattern="([AaBbOo]|[Aa][Bb])[\+-]" required
                    class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O +</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        value="<%= typeof blood_group != 'undefined' ? blood_group : '' %>"
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location as District </label>
                    <select id="location" name="location" required class="form-control">
                        <% for(let i = 0;  i < district.length ; i++) { %>
                            <option value="<%= district[i].name %>">
                                <%= district[i].name %>
                            </option>
                        <% } %>
                        value="<%= typeof location != 'undefined' ? location : '' %>"
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input
                            type="password"
                            id="password2"
                            name="password2"
                            class="form-control"
                            placeholder="Confirm Password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>